<nav class="navbar navbar-expand-lg bg-primary-subtle shadow-sm border-bottom" data-bs-theme="dark">
  <div class="container-fluid px-4">
    
    <a class="navbar-brand fw-bold text-white d-flex align-items-center" >
      TP Angular
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Desplegar navegación">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav text-center mt-3 mt-lg-0">
        
        <li class="nav-item w-100 mb-2 mb-lg-0">
          <a class="btn btn-outline-warning w-100 me-lg-3 fw-bold" [routerLink]="['Top100Peliculas']" routerLinkActive="active" >
            PELICULAS
          </a>
        </li>
        <li class="nav-item w-100 mb-2 mb-lg-0">
          <a class="btn btn-outline-warning w-100 me-lg-3 fw-bold" [routerLink]="['Autos']" routerLinkActive="active" >
            MARCAS
          </a>
        </li>
        <li class="nav-item w-100 mb-2 mb-lg-0">
          <a class="btn btn-outline-warning w-100 me-lg-3 fw-bold" [routerLink]="['Conversor']" routerLinkActive="active" >
            CONVERSOR MONEDAS
          </a>
        </li>
        <li class="nav-item w-100">
          <a class="btn btn-outline-warning w-100 fw-bold" >
            CONVERSOR TEXTO
          </a>
        </li>
         <li class="nav-item w-100">
          <a class="btn btn-outline-warning w-100 fw-bold" >
            API A ELECCION
          </a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
